html body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.ँ匚Ңꂶഭዛ⎈Ӥ {
  max-width: 960px;
  padding-top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ẞɃӪᐃ {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: x-large;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.ĶዤꙮሰᏦȺ {
  background-color: white;
  padding: 8px;
  font-size: x-large;
  border: 1px solid black;
}
